
@import '../../style/_variables.scss';

.home {
  .wrapper {
    border-top: 3px solid $color1;
    padding-top: 40px;
  }

  .sidebar {
    display: none;
  }
}

.masthead {
  position: relative;
}
