@import "../../style/_variables.scss";

.quoteWrapper {
  background: #E0E0E0;
  padding: 50px 0 40px;
  margin-bottom: 40px;
  color: $color6;

  .quote {
    position: relative;

    blockquote {
      padding: 0;
      margin: 1em 60px;
      position: relative;

      &:before {
        content: "\201C";
        font-size: 120px;
        color: white;
        position: absolute;
        top: -35px;
        left: -60px;
      }

    }
  }

  .quoteText {
    font-size: 39px;
    font-weight: normal;
    line-height: 1.25;
    max-width: 650px;
  }

  .byLine {
    font-weight: normal;
    font-size: 21px;
    position: relative;
    left: 15px;
  }

  .headshot {
    position: absolute;
    top: 0;
    right: 0;
    width: 157px;
    @include circle-group(5px);
  }
}
