@import "normalize"
@import "mixins"



$color1: #f4b9d0 // Main Pink
$color2: #686969 // Main Grey
$color3: #fadee8 // Light Pink
$color4: #e8e8e8 // Light Grey
$color5: #ffffff // White

$font: 'Arimo', sans-serif

// Generic Structural Elements

body
  color: $color2
  font-family: $font

a
  color: $color1
  &:hover
    color: $color3


.wrapper
  width: 960px
  margin: 0 auto

.primary-col
  width: 620px
  padding: 0 10px
  float: right

.secondary-col
  width: 300px
  padding: 0 0 0 10px
  float: left

// Begin Header Specific Styles

header#main-header
  background: transparent
  border-top: 17px solid $color2

#main-nav
  h1
    width: 630px
    height: 140px
    margin: 30px 0
    float: left
    a
      display: block
      height: 100%
      width: 100%
      text-indent: -9999em
      background: transparent url('/style/img/main-logo.png') no-repeat top left scroll
  ul
    float: right
    width: 300px
    height: 140px
    margin: 30px 0
    li
      display: block
      float: right
      padding-left: 30px
      a
        display: block
        padding-top: 85px
        font-size: 24px
        text-decoration: none
        color: $color2
        font-weight: bold
        &:hover
          color: $color1

#main-nav 
  li#signup a
    background: transparent url('/style/img/nav-signup-img.png') no-repeat center 25px scroll
  li#contact a
    background: transparent url('/style/img/nav-contact-img.png') no-repeat center 25px scroll


// Begin Footer Specific Styles

footer#main-footer
  background: $color2
  color: $color5
  padding: 20px 0 40px
  text-align: center
  h3
    font-size: 34px
    font-style: italic
  #footer-nav
    ul
      display: block
      text-align: center
      margin: 0 0 8px
    li
      font-size: 25px
      height: 23px
      display: inline
      padding: 0 10px 0 0
      border-right: 2px solid $color5
      margin: 0 10px 0 0
      a
        color: $color5
        text-decoration: none
        &:hover
          color: $color1
  .copyright
    font-size: 20px
    font-style: italic
    padding: 10px 0


// Home Slideshow Specific styles

#home-slider
  padding-bottom: 30px
  ul
    display: block
    margin: 0
    list-style: none
    border-bottom: 4px solid $color1
    li
      float: left
      width: 320px
      height: 575px
      display: block
      padding-bottom: 3px
      position: relative
  .slide a
    display: block
    width: 320px
    height: 45px
    padding-top: 530px
    text-decoration: none
    span
      background: $color1
      color: $color3
      display: block
      text-align: center
      font-weight: bold
      font-size: 31px
      height: 32px
      padding: 8px 0 5px
    &:hover span
      color: $color5
  .slide.current
    span
      color: $color5
    &:before
      background: transparent url('/style/img/icon-slide-arrow.png') no-repeat center center scroll
      display: block
      content: ''
      width: 50px
      height: 24px
      position: absolute
      top: 506px // 530 (img height) - 24 (arrow height)
      left: 135px // 160 (1/2 img width) - 25 (1/2 arrow height)
      z-index: 20


#kids.slide a
  background: transparent url('/style/img/kids-ballet-off.png') no-repeat top center scroll
#kids.slide.current a, #kids.slide a:hover
  background: transparent url('/style/img/kids-ballet-on.png') no-repeat top center scroll

#pilates.slide a
  background: transparent url('/style/img/pilates-off.png') no-repeat top center scroll
#pilates.slide.current a, #pilates.slide a:hover
  background: transparent url('/style/img/pilates-on.png') no-repeat top center scroll

#adult.slide a
  background: transparent url('/style/img/adult-off.png') no-repeat top center scroll
#adult.slide.current a, #adult.slide a:hover
  background: transparent url('/style/img/adult-on.png') no-repeat top center scroll


