@import "../../style/_variables.scss";

.header {
  background: transparent;
  border-top: 17px solid $color2;
}

.mainNav {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px 0 0;

  @media only screen and (min-width: $bp-md) {
    flex-direction: row;
  }


  h1 {
    width: 92%;
    height: 2.5em;
    padding: 0;
    margin: 0 auto;

    @media only screen and (min-width: $bp-md) {
      width: 60%;
      max-width: 630px;
      box-sizing: border-box;
      height: 140px;
      padding: 0;
    }

    a {
      display: block;
      height: 100%;
      width: 100%;
      text-indent: -9999em;
      background: transparent url('/assets/img/main-logo-new.png') no-repeat center center scroll;
      background-size: contain;
    }
  }

  ul {
    width: 92%;
    margin: 0 auto;
    display: flex;
    align-items: baseline;

    @media only screen and (min-width: $bp-md) {
      width: 40%;
      margin: 20px 0;
      padding-left: 4%;
      box-sizing: border-box;
    }

    li {
      display: inline-block;
      box-sizing: border-box;
      padding: 0 10px;
      text-align: center;
      width: 50%;
      min-height: 40px;

      a {
        display: flex;
        flex-direction: row;
        font-size: 21px;
        text-decoration: none;
        color: $color2;
        font-weight: normal;
        align-items: baseline;
        position: relative;
        justify-content: center;
        padding: 2px;
        height: 100%;

        @media only screen and (min-width: $bp-md) {
          flex-direction: column;
          align-items: center;
        }

        &:hover {
          color: $color1;
        }

        span {
          margin-left: 5px;

          @media only screen and (min-width: $bp-md) {
            margin-left: 0;
            margin-top: 10px;
          }
        }
      }
    }
  }
}

.mainNav {
  @extend %clearfix;

  svg {
    display: block;
    position: relative;
    top: 1px;
    width: 30px;
    height: auto;

    @media only screen and (min-width: $bp-md) {
      width: auto;
    }
  }

  .signup svg {
    position: relative;
    top: 5px;
  }
}

.classNav {
  ul {
    width: 100%;
    display: table;
    border-top: solid 2px $color4;
    border-bottom: solid 2px $color4;
    margin: 0;
  }

  li {
    display: block;
    padding: 5px 10px;
    font-size: 24px;
    font-weight: bold;
    box-sizing: border-box;
    text-align: center;
    width: 100%;
    border-top: solid 2px $color4;

    &:first-child {
      border-top: none;
    }

    @media only screen and (min-width: 715px) {
      display: table-cell;
      width: 33%;
      border-top: none;
    }

    a {
      color: $color2;
      text-decoration: none;
      padding: 5px;
      display: block;

      &.current, &:hover, &:active {
        color: $color1;
      }
    }
  }
}



.toggleNav {
  display: block;
  position: fixed;
  top: -1px;
  right: 18px;
  overflow: hidden;
  margin: 0;
  padding: 0;
  width: $button-width;
  height: $button-height;
  font-size: 0;
  text-indent: -9999px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  box-shadow: none;
  border-radius: none;
  border: none;
  cursor: pointer;
  transition: background $button-trans-delay;
  z-index: 25;
  background-color: $color1;

  @media only screen and (min-width: $bp-md) {
    display: none;
  }

  &:focus {
    outline: none;
  }

  span {
    display: block;
    position: absolute;
    top: ($button-height / 2) - ($bar-thickness / 2);
    left: $button-pad;
    right: $button-pad;
    height: $bar-thickness;
    background: rgb(255,255,255);
    transition: background 0s $button-trans-delay;
  }

  span::before,
  span::after {
    position: absolute;
    display: block;
    left: 0;
    width: 100%;
    height: $bar-thickness;
    background-color: #fff;
    content: "";

    transition-duration: $button-trans-delay, $button-trans-delay;
    transition-delay: $button-trans-delay, 0s;
  }

  span::before {
    top: -(($button-height / 2) - ($bar-thickness / 2) - $button-pad);
    transition-property: top, transform;
  }

  span::after {
    bottom: -(($button-height / 2) - ($bar-thickness / 2) - $button-pad);
    transition-property: bottom, transform;
  }


  /* active state, i.e. menu open */

  &.active {
    background-color: $color2;
    //darken($color1, 20%);
    transform: translateY(18px);
  }

  &.active span {
    background: none;
  }

  &.active span::before {
    top: 0;
    transform: rotate(45deg);
  }

  &.active span::after{
    bottom: 0;
    transform: rotate(-45deg);
  }

  &.active span::before,
  &.active span::after{
    transition-delay: 0s, $button-trans-delay;
  }
}
