
$color1: #F15BB1;
$color2: #62625E;
$color3: lighten($color1, 20%);
$color4: lighten($color2, 52%);
$color5: #FFFFFF;
$color6: #09050A;

$font: 'Arimo', sans-serif;

$bp-sm: 30.1em;
$bp-md: 48.1em;
$bp-lg: 75.1em;



$button-width: 44px;
$button-height: 44px;
$bar-thickness: 2px;
$button-pad: 14px;
$button-trans-delay: 0.3s;

%clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin circle-group($radius) {
  border-radius: 100%;
  border: 1px solid $color2;
  box-shadow: 0 0 0 $radius white, 2px 2px 10px 1px transparentize($color6, .5);
}

@mixin link-style() {
  color: $color6;
  text-decoration-color: $color1;

  &:hover {
    color: $color6;
    text-decoration-color: $color3;
  }
}

@mixin withRightArrow() {
  &:after {
    content: "\2192";
    display: inline-block;
    margin-left: 6px;
    font-size: 140%;
    animation: backAndForth 0.5s alternate infinite;
    animation-play-state: paused;
  }

  &:hover:after {
    animation-play-state: running;
  }
}

@keyframes backAndForth {
  from {
    transform: translateX(0);
  }

  to{
    transform: translateX(5px);
  }
}
