@import "normalize"
@import "mixins"


// ^1. Generic Structural Elements
// ^2. Begin Header Specific Styles
// ^3. Begin Footer Specific Styles
// ^4. Sidebar specific styles
// ^5. Home Slideshow Specific styles




$color1: #f4b9d0 // Main Pink
$color2: #686969 // Main Grey
$color3: #fadee8 // Light Pink
$color4: #e8e8e8 // Light Grey
$color5: #ffffff // White

$font: 'Arimo', sans-serif


$bp-sm: 30.1em
$bp-md: 48.1em
$bp-lg: 75.1em
// @media only screen and (min-width: $bp-sm) { }

// Clearfix
%clearfix
  &:after
    content: ""
    display: table
    clear: both


// ^1. Generic Structural Elements

body
  color: $color2
  font-family: $font

a
  color: $color1
  &:hover
    color: $color3

img
  width: 100%
  height: auto

iframe
  width: 100%
  min-height: 75%
  height: 75% 

.video-container 
  position: relative
  padding-bottom: 56.25%
  padding-top: 35px
  height: 0
  overflow: hidden

.video-container iframe 
  position: absolute
  top: 0
  left: 0
  width: 100%
  height: 100%

.wrapper
  max-width: 960px
  padding: 0 18px
  margin: 0 auto
  @extend %clearfix

.primary-col
  max-width: 620px
  width: 100%
  padding: 0
  float: right
  @extend %clearfix

.secondary-col
  max-width: 270px
  width: 100%
  padding: 0
  float: left
  @extend %clearfix

#main
  padding: 20px 0 22px


table
  border-collapse: collapse
  border: 1px solid $color2
  width: 100%
  thead th
    color: $color5
    background: $color1
    border: 1px solid $color1
    font-weight: bold
  tr td
    color: $color2
    background: $color5
    border: 1px solid $color2
  td, th
    padding: 3px
    text-align: center

h1, h2, h3, h4, h5, h6, p
  margin: 0
  padding: 0 0 24px
  line-height: 30px

h1
  font-size: 41px

h2
  font-size: 34px
  font-weight: normal
  font-style: italic

h3
  font-size: 28px

h4
  padding-bottom: 5px
  font-size: 24px
  font-style: italic

p
  font-size: 21px

header > h1, header > h2, header > h3, header > h4, header > h5, header > h6
  padding-bottom: 5px

#main header
  padding-bottom: 24px

#masthead
  position: relative
  margin-top: 30px
  margin-bottom: 30px
  img
    display: block
    padding: 0 0 51px
    background: transparent url("../img/masthead-border.png") repeat-x bottom left scroll
    margin-bottom: 20px
    position: relative


// ^2. Begin Header Specific Styles

header#main-header
  background: transparent
  border-top: 17px solid $color2

#main-nav
  h1
    width: 92%
    height: 2.75em
    padding: .25em 4% 
    @media only screen and (min-width: $bp-md)
      width: 60%
      max-width: 630px
      box-sizing: border-box
      height: 140px
      margin: 30px 0
      padding: 0
      float: left
    a
      display: block
      height: 100%
      width: 100%
      text-indent: -9999em
      background: transparent url('/style/img/main-logo.png') no-repeat center center scroll
      background-size: contain
  ul
    height: 2em
    max-width: 440px
    margin: 0 auto
    @media only screen and (min-width: $bp-md)
      float: right
      width: 300px
      height: 140px
      margin: 30px 0
    li
      display: inline-block
      width: 49%
      box-sizing: border-box
      padding: 2%
      @media only screen and (min-width: $bp-md)
        float: right
        box-sizing: border-box
        padding: 0
        width: auto
        padding-left: 30px
      a
        display: block
        font-size: 24px
        text-decoration: none
        color: $color2
        font-weight: bold
        @media only screen and (min-width: $bp-md)
          display: block
          padding-top: 85px
        &:hover
          color: $color1

#main-nav 
  li a, button
    background: transparent no-repeat left center scroll
    background-size: contain
    @media only screen and (min-width: $bp-md)
      background: transparent no-repeat center 25px scroll
  li#signup a
    padding-left: 1.5em
    background-image: url('/style/img/nav-signup-img.png')
    @media only screen and (min-width: $bp-md)
      padding-left: 0
  li#contact a
    padding-left: 2em
    background-image: url('/style/img/nav-contact-img.png')
    @media only screen and (min-width: $bp-md)
      padding-left: 0



$button-width: 44px
$button-height: 44px
$bar-thickness: 2px
$button-pad: 14px
$button-trans-delay: 0.3s


#toggle-nav
  display: block
  position: fixed
  top: -1px 
  right: 18px 
  overflow: hidden
  margin: 0
  padding: 0
  width: $button-width
  height: $button-height
  font-size: 0
  text-indent: -9999px
  -webkit-appearance: none
  -moz-appearance: none
  appearance: none
  box-shadow: none
  border-radius: none
  border: none
  cursor: pointer
  transition: background $button-trans-delay
  z-index: 25

#toggle-nav:focus
  outline: none

#toggle-nav span
  display: block
  position: absolute
  top: ($button-height / 2) - ($bar-thickness / 2)
  left: $button-pad
  right: $button-pad
  height: $bar-thickness
  background: rgb(255,255,255)

#toggle-nav span::before,
#toggle-nav span::after
  position: absolute
  display: block
  left: 0
  width: 100%
  height: $bar-thickness
  background-color: #fff
  content: ""

#toggle-nav span::before
  top: -(($button-height / 2) - ($bar-thickness / 2) - $button-pad)

#toggle-nav span::after
  bottom: -(($button-height / 2) - ($bar-thickness / 2) - $button-pad)

#toggle-nav
  background-color: $color1

#toggle-nav span
  transition: background 0s $button-trans-delay

#toggle-nav span::before,
#toggle-nav span::after
  transition-duration: $button-trans-delay, $button-trans-delay
  transition-delay: $button-trans-delay, 0s


#toggle-nav span::before
  transition-property: top, transform


#toggle-nav span::after
  transition-property: bottom, transform


/* active state, i.e. menu open */

#toggle-nav.active
  background-color: $color2 //darken($color1, 20%)
  transform: translateY(18px)

#toggle-nav.active span
  background: none


#toggle-nav.active span::before 
  top: 0
  transform: rotate(45deg)


#toggle-nav.active span::after
  bottom: 0
  transform: rotate(-45deg)

#toggle-nav.active span::before,
#toggle-nav.active span::after
  transition-delay: 0s, $button-trans-delay




// ^3. Begin Footer Specific Styles

footer#main-footer
  background: $color2
  color: $color5
  padding: 40px 0
  text-align: center
  h3
    font-size: 34px
    font-style: italic
  #footer-nav
    ul
      display: block
      text-align: center
      margin: 0 0 16px
    li
      font-size: 25px
      height: 23px
      display: inline
      padding: 0 10px 0 0
      border-right: 2px solid $color5
      margin: 0 10px 0 0
      &:last-child
        border-right: none
      a
        color: $color5
        text-decoration: none
        &:hover
          color: $color1
  .copyright
    font-size: 20px
    font-style: italic
    padding: 10px 0


// ^4. Sidebar specific styles

.secondary-col
  display: none
  &.hide
    display: none
  &.show
    display: block

.secondary-col nav
  position: fixed
  top: 0
  right: 0
  bottom: 0
  left: 0
  background: $color2
  border-right: none
  padding: 3em
  overflow-y: scroll
  z-index: 10
  @media only screen and (min-width: $bp-md)
    border-right: 2px solid $color4
  li
    font-size: 28px
    line-height: 42px
    letter-spacing: -1px
    a
      text-decoration: none
      color: $color5
      @media only screen and (min-width: $bp-md)
        color: $color2
    a:hover, .current
      color: $color1
    .current
      font-weight: bold

.secondary-col .close 
  display: block
  height: 32px
  width: 32px
  position: absolute
  border: none
  padding: none
  top: 2em
  right: 2em
  background: transparent url('/style/img/close.png') no-repeat center center scroll
  background-size: contain

ul.side-nav
  border-bottom: 2px solid $color4
  margin: 0 25px 24px 0
  padding: 0 0 20px

ul.side-nav.social-nav
  border-bottom: none

// ^5. Home Slideshow Specific styles

#home-slider
  padding-bottom: 30px
  ul
    display: block
    margin: 0
    list-style: none
    border-bottom: 4px solid $color1
    li
      float: left
      width: 33%
      max-width: 320px
      height: 575px
      display: block
      padding-bottom: 3px
      position: relative
  .slide a
    display: block
    width: 100%
    max-width: 320px
    height: 45px
    padding-top: 530px
    text-decoration: none
    background-size: contain
    span
      background: $color1
      color: $color3
      display: block
      text-align: center
      font-weight: bold
      font-size: 31px
      height: 32px
      padding: 8px 0 5px
    &:hover span
      color: $color5
  .slide.current
    span
      color: $color5
    &:before
      background: transparent url('/style/img/icon-slide-arrow.png') no-repeat center center scroll
      display: block
      content: ''
      width: 50px
      height: 24px
      position: absolute
      top: 506px // 530 (img height) - 24 (arrow height)
      left: 135px // 160 (1/2 img width) - 25 (1/2 arrow height)
      z-index: 20


#kids.slide a
  background: transparent url('/style/img/kids-ballet-off.png') no-repeat top center scroll
#kids.slide.current a, #kids.slide a:hover
  background: transparent url('/style/img/kids-ballet-on.png') no-repeat top center scroll

#pilates.slide a
  background: transparent url('/style/img/pilates-off.png') no-repeat top center scroll
#pilates.slide.current a, #pilates.slide a:hover
  background: transparent url('/style/img/pilates-on.png') no-repeat top center scroll

#adult.slide a
  background: transparent url('/style/img/adult-off.png') no-repeat top center scroll
#adult.slide.current a, #adult.slide a:hover
  background: transparent url('/style/img/adult-on.png') no-repeat top center scroll


