article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
  display: block; }

audio, canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1; }

audio:not([controls]) {
  display: none; }

[hidden] {
  display: none; }

html {
  font-size: 100%;
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

body {
  margin: 0; }

button, input, select, textarea {
  font-family: sans-serif; }

a:focus {
  outline: thin dotted; }
a:hover, a:active {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: bold; }

blockquote {
  margin: 1em 40px; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

pre, code, kbd, samp {
  font-family: monospace, serif;
  _font-family: "Courier New", monospace;
  font-size: 1em; }

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: none; }
  q:before, q:after {
    content: "";
    content: none; }

small {
  font-size: 75%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

ul, ol {
  margin-left: 0;
  padding: 0; }

dd {
  margin: 0 0 0 40px; }

nav ul, nav ol {
  list-style: none;
  list-style-image: none; }

img {
  border: 0;
  -ms-interpolation-mode: bicubic; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 0; }

form {
  margin: 0; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  *margin-left: -7px; }

button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle; }

button, input {
  line-height: normal; }

button, input[type='button'], input[type='reset'], input[type='submit'] {
  cursor: pointer;
  -webkit-appearance: button;
  *overflow: visible; }

input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }
  input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none; }

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

* html .clearfix, *:first-child + html .clearfix {
  zoom: 1; }

h1, h2, h3, h4, h5, h6, p {
  margin: 0; }

h2, h3, h4, p {
  padding-bottom: 20px; }

.wrapper:after, .primary-col:after, .secondary-col:after, #main-nav:after {
  content: "";
  display: table;
  clear: both; }

body {
  color: #62625E;
  font-family: "Arimo", sans-serif; }

a {
  color: #F15BB1; }
  a:hover {
    color: #f9b9de; }

img {
  width: 100%;
  height: auto; }

iframe {
  width: 100%;
  min-height: 75%;
  height: 75%; }

.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 35px;
  height: 0;
  overflow: hidden; }

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.wrapper {
  max-width: 960px;
  padding: 0 18px;
  margin: 0 auto; }

.primary-col {
  width: 100%;
  padding: 0; }
  @media only screen and (min-width: 48.1em) {
    .primary-col {
      width: calc( 100% - ( 270px + 30px ) );
      max-width: 620px;
      float: right; } }

.secondary-col {
  width: 100%;
  padding: 0; }
  @media only screen and (min-width: 48.1em) {
    .secondary-col {
      max-width: 270px;
      float: left; } }

#main {
  padding: 20px 0 22px; }

table {
  border-collapse: collapse;
  border: 1px solid #62625E;
  width: 100%; }
  table thead th {
    color: #ffffff;
    background: #F15BB1;
    border: 1px solid #F15BB1;
    font-weight: bold; }
  table tr td {
    color: #62625E;
    background: #ffffff;
    border: 1px solid #62625E; }
  table td, table th {
    padding: 3px;
    text-align: center; }

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0 0 24px;
  line-height: 30px; }

h1 {
  font-size: 41px; }

h2 {
  font-size: 34px;
  font-weight: normal;
  font-style: italic; }

h3 {
  font-size: 28px; }

h4 {
  padding-bottom: 5px;
  font-size: 24px;
  font-style: italic; }

p {
  font-size: 21px; }

header > h1, header > h2, header > h3, header > h4, header > h5, header > h6 {
  padding-bottom: 5px; }

#main header {
  padding-bottom: 24px; }

#masthead {
  position: relative;
  margin-top: 30px;
  margin-bottom: 30px;
  padding-bottom: 3px;
  border-bottom: solid #F15BB1 3px; }
  #masthead img {
    display: block;
    border-bottom: solid #F15BB1 45px;
    position: relative; }

header#main-header {
  background: transparent;
  border-top: 17px solid #62625E; }

#main-nav h1 {
  width: 92%;
  height: 2.75em;
  padding: 0.25em 4%; }
  @media only screen and (min-width: 48.1em) {
    #main-nav h1 {
      width: 60%;
      max-width: 630px;
      box-sizing: border-box;
      height: 140px;
      margin: 20px 0;
      padding: 0;
      float: left; } }
  #main-nav h1 a {
    display: block;
    height: 100%;
    width: 100%;
    text-indent: -9999em;
    background: transparent url("/style/img/main-logo-new.png") no-repeat center center scroll;
    background-size: contain; }
#main-nav ul {
  height: 2em;
  max-width: 440px;
  margin: 0 auto 20px; }
  @media only screen and (min-width: 48.1em) {
    #main-nav ul {
      float: right;
      width: auto;
      height: 140px;
      margin: 20px 0; } }
  #main-nav ul li {
    display: inline-block;
    width: 49%;
    box-sizing: border-box;
    padding: 2%; }
    @media only screen and (min-width: 48.1em) {
      #main-nav ul li {
        float: right;
        box-sizing: border-box;
        padding: 0;
        width: auto;
        padding-left: 30px; } }
    #main-nav ul li a {
      display: block;
      font-size: 24px;
      text-decoration: none;
      color: #62625E;
      font-weight: bold; }
      @media only screen and (min-width: 48.1em) {
        #main-nav ul li a {
          display: block;
          padding-top: 85px; } }
      #main-nav ul li a:hover {
        color: #F15BB1; }

#main-nav li a, #main-nav button {
  background: transparent no-repeat left center scroll;
  background-size: contain; }
  @media only screen and (min-width: 48.1em) {
    #main-nav li a, #main-nav button {
      background: transparent no-repeat center 25px scroll; } }
#main-nav li#signup a {
  padding-left: 1.5em;
  background-image: url("/style/img/nav-signup-img.png"); }
  @media only screen and (min-width: 48.1em) {
    #main-nav li#signup a {
      padding-left: 0; } }
#main-nav li#contact a {
  padding-left: 2em;
  background-image: url("/style/img/nav-contact-img.png"); }
  @media only screen and (min-width: 48.1em) {
    #main-nav li#contact a {
      padding-left: 0; } }

#class-nav ul {
  width: 100%;
  display: table;
  border-top: solid 2px #e5e5e4;
  border-bottom: solid 2px #e5e5e4;
  margin: 0; }
#class-nav li {
  display: block;
  padding: 5px 10px;
  font-size: 24px;
  font-weight: bold;
  box-sizing: border-box;
  text-align: center;
  width: 100%;
  border-top: solid 2px #e5e5e4; }
  #class-nav li:first-child {
    border-top: none; }
  @media only screen and (min-width: 715px) {
    #class-nav li {
      display: table-cell;
      width: 33%;
      border-top: none; } }
  #class-nav li a {
    color: #62625E;
    text-decoration: none;
    padding: 5px;
    display: block; }
    #class-nav li a.current, #class-nav li a:hover, #class-nav li a:active {
      color: #F15BB1; }

#toggle-nav {
  display: block;
  position: fixed;
  top: -1px;
  right: 18px;
  overflow: hidden;
  margin: 0;
  padding: 0;
  width: 44px;
  height: 44px;
  font-size: 0;
  text-indent: -9999px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  box-shadow: none;
  border-radius: none;
  border: none;
  cursor: pointer;
  transition: background 0.3s;
  z-index: 25; }
  @media only screen and (min-width: 48.1em) {
    #toggle-nav {
      display: none; } }

#toggle-nav:focus {
  outline: none; }

#toggle-nav span {
  display: block;
  position: absolute;
  top: 21px;
  left: 14px;
  right: 14px;
  height: 2px;
  background: white; }

#toggle-nav span::before,
#toggle-nav span::after {
  position: absolute;
  display: block;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #fff;
  content: ""; }

#toggle-nav span::before {
  top: -7px; }

#toggle-nav span::after {
  bottom: -7px; }

#toggle-nav {
  background-color: #F15BB1; }

#toggle-nav span {
  transition: background 0s 0.3s; }

#toggle-nav span::before,
#toggle-nav span::after {
  transition-duration: 0.3s, 0.3s;
  transition-delay: 0.3s, 0s; }

#toggle-nav span::before {
  transition-property: top, transform; }

#toggle-nav span::after {
  transition-property: bottom, transform; }

/* active state, i.e. menu open */
#toggle-nav.active {
  background-color: #62625E;
  transform: translateY(18px); }

#toggle-nav.active span {
  background: none; }

#toggle-nav.active span::before {
  top: 0;
  transform: rotate(45deg); }

#toggle-nav.active span::after {
  bottom: 0;
  transform: rotate(-45deg); }

#toggle-nav.active span::before,
#toggle-nav.active span::after {
  transition-delay: 0s, 0.3s; }

footer#main-footer {
  background: #62625E;
  color: #ffffff;
  padding: 40px 0;
  text-align: center; }
  footer#main-footer h3 {
    font-size: 34px;
    font-style: italic; }
  footer#main-footer #footer-nav ul {
    display: block;
    text-align: center;
    margin: 0 0 16px; }
  footer#main-footer #footer-nav li {
    font-size: 25px;
    height: 23px;
    display: inline;
    padding: 0 10px 0 0;
    border-right: 2px solid #ffffff;
    margin: 0 10px 0 0; }
    footer#main-footer #footer-nav li:last-child {
      border-right: none; }
    footer#main-footer #footer-nav li a {
      color: #ffffff;
      text-decoration: none; }
      footer#main-footer #footer-nav li a:hover {
        color: #F15BB1; }
  footer#main-footer .copyright {
    font-size: 20px;
    font-style: italic;
    padding: 10px 0; }

.secondary-col {
  display: none; }
  .secondary-col.hide {
    display: none; }
  .secondary-col.show {
    display: block; }
  @media only screen and (min-width: 48.1em) {
    .secondary-col {
      display: block !important; } }

.secondary-col nav {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #62625E;
  border-right: none;
  color: #ffffff;
  padding: 3em;
  overflow-y: scroll;
  z-index: 10; }
  @media only screen and (min-width: 48.1em) {
    .secondary-col nav {
      background: transparent;
      border-right: 2px solid #e5e5e4;
      color: #62625E;
      position: relative;
      padding: 0; } }
  .secondary-col nav li {
    font-size: 28px;
    line-height: 42px;
    letter-spacing: -1px; }
    .secondary-col nav li a {
      text-decoration: none;
      color: #ffffff; }
      @media only screen and (min-width: 48.1em) {
        .secondary-col nav li a {
          color: #62625E; } }
    .secondary-col nav li a:hover, .secondary-col nav li .current {
      color: #F15BB1; }
    .secondary-col nav li .current {
      font-weight: bold; }

.secondary-col .close {
  display: block;
  height: 32px;
  width: 32px;
  position: absolute;
  border: none;
  padding: none;
  top: 2em;
  right: 2em;
  background: transparent url("/style/img/close.png") no-repeat center center scroll;
  background-size: contain; }

ul.side-nav {
  border-bottom: 2px solid #e5e5e4;
  margin: 0 25px 24px 0;
  padding: 0 0 20px; }

ul.side-nav.social-nav {
  border-bottom: none; }

ul.sub-nav {
  padding-left: 1em; }
  ul.sub-nav li {
    list-style: disc inside; }

#home-slider {
  padding-bottom: 30px; }
  #home-slider ul {
    display: block;
    margin: 0;
    list-style: none;
    border-bottom: 4px solid #F15BB1; }
    #home-slider ul li {
      width: 100%;
      display: block;
      padding-bottom: 3px;
      position: relative;
      height: 575px; }
      @media only screen and (min-width: 575px) {
        #home-slider ul li {
          float: left;
          width: 50%; } }
      @media only screen and (min-width: 800px) {
        #home-slider ul li {
          float: left;
          width: 33.33%;
          max-width: 320px; } }
  #home-slider .slide a {
    display: block;
    width: 100%;
    text-decoration: none;
    height: 45px;
    padding-top: 530px; }
    @media only screen and (min-width: 800px) {
      #home-slider .slide a {
        max-width: 320px; } }
    #home-slider .slide a span {
      background: #F15BB1;
      color: #f9b9de;
      display: block;
      text-align: center;
      font-weight: bold;
      font-size: 24px;
      height: 32px;
      line-height: 1.3;
      padding: 8px 0 5px; }
    #home-slider .slide a:hover span {
      color: #ffffff; }
  #home-slider .slide {
    display: none; }
    @media only screen and (min-width: 575px) {
      #home-slider .slide {
        display: block; }
        #home-slider .slide.hidden {
          display: none; } }
    @media only screen and (min-width: 800px) {
      #home-slider .slide {
        display: block; }
        #home-slider .slide.hidden {
          display: block; } }
  #home-slider .slide.current {
    display: block; }
    #home-slider .slide.current span {
      color: #ffffff; }
    #home-slider .slide.current:before {
      background: transparent url("/style/img/icon-slide-arrow.png") no-repeat bottom center scroll;
      display: block;
      content: "";
      width: 50px;
      height: 24px;
      position: absolute;
      top: 506px;
      left: calc( 50% - 25px );
      z-index: 8; }
  #home-slider .slider-nav {
    display: block;
    height: auto;
    text-align: center;
    margin: 0;
    padding: 10px;
    border-bottom: none; }
    @media only screen and (min-width: 800px) {
      #home-slider .slider-nav {
        display: none; } }
    #home-slider .slider-nav li {
      display: inline-block;
      height: 20px;
      width: 20px;
      border-radius: 20px;
      background: #e5e5e4;
      margin: 3px 5px;
      padding: 0;
      cursor: pointer;
      float: none; }
      #home-slider .slider-nav li.current {
        background: #62625E; }

#kids.slide a {
  background: transparent url("/style/img/kids-ballet-off.png") no-repeat top center scroll;
  background-size: contain; }
#kids.slide.current a, #kids.slide a:hover {
  background: transparent url("/style/img/kids-ballet-on.png") no-repeat top center scroll;
  background-size: contain; }

#pilates.slide a {
  background: transparent url("/style/img/pilates-off.png") no-repeat top center scroll;
  background-size: contain; }
#pilates.slide.current a, #pilates.slide a:hover {
  background: transparent url("/style/img/pilates-on.png") no-repeat top center scroll;
  background-size: contain; }

#adult.slide a {
  background: transparent url("/style/img/adult-off.png") no-repeat top center scroll;
  background-size: contain; }
#adult.slide.current a, #adult.slide a:hover {
  background: transparent url("/style/img/adult-on.png") no-repeat top center scroll;
  background-size: contain; }

/*# sourceMappingURL=main.css.map */
